<div class="tableWrapper">
  <p-card>
    <p-table
      #dt
      [value]="tableItems"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} items"
      [rows]="10"
      (onFilter)="handleFilterChange($event)"
    >
      <ng-template pTemplate="caption">
        <div style="display: flex; align-items: center">
          <div style="display: flex; width: 30%; gap: 10px">
            <div *ngIf="tableConfig.exportToFile" id="pdfExport">
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-file-excel"
                (click)="exportAsXls()"
                class="p-button-success p-mr-2"
                pTooltip="XLS"
                tooltipPosition="bottom"
              ></button>
            </div>
            <div>
              <button
                pButton
                label="Limpar"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clearTableFilters(dt)"
              ></button>
            </div>
          </div>
          <div style="margin-left: auto">
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Pesquisar"
                (input)="handleGlobalFilterChange($event.target)"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th
            *ngFor="let header of tableConfig.headers"
            [pSortableColumn]="header.bindTo || ''"
            [pSortableColumnDisabled]="!header.sortable"
          >
            {{ header.title }}
            <p-sortIcon
              *ngIf="header.sortable"
              [attr.field]="header?.bindTo"
            ></p-sortIcon>

            <p-columnFilter
              *ngIf="header.hasFilter"
              type="text"
              [attr.field]="header?.bindTo"
              display="menu"
              (input)="handleFilterChange($event)"
            ></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td *ngFor="let index of tableConfig.valuesOrder">
            {{ getItemValue(item, index) }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
